body{
    background-color: #164b60;
}



.card {
    background-color: #a2ff86;
} 

.carousel{
    width: 100%;
    margin: 0px 40px;
    position: relative;
    overflow: hidden;
}

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    
}

#slick-track{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    z-index: 1;

}

.slick {
    position: relative;
    width: 275px;
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
    
    
}

.slick img {
    
    object-fit: cover;
    height: 150px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3 ease-in-out;
    
}

img {
    border: 50px;
    border-color: #a2ff86;

}

.slick img:hover {
    opacity: .85;
}

.slick-list button {
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
    z-index: 2;
    display: block; 
    opacity: 1;
}

button:focus{
    outline: 0;
}

button svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7)
}

#prev {
    left: 20px;
    
}


#next {
    right: 20px;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .slick .arrow {
      display: block; /* Hacer visible el botón en dispositivos móviles */
      opacity: 1; /* Asegurar que el botón sea completamente visible */
    }
  }

.card-events {
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}
